css:root{
    color:#2196F3;
    font-family: 'Roboto', 'Raleway', sans-serif;
}
header .port{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
background: #FFFFFF;
}
header .index{
width: 1600px;
height: 600px;
left: 0px;
top: 80px;
background: #2F303A;
}
header .inner-link{
width: 145px;
height: 31px;
left: 215px;
top: 24px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 221%;
/* identical to box height */
letter-spacing: 0.03em;

}
.inner-link:hover{
    color:#2196F3;
}

header .agency{
    position: absolute;
    width: 53px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    color: #212121;
}
header .portfolio{
    position: absolute;
    width: 53px;
    height: 16px;
    left:   552px;
    right: 0%;
    top: 32px;
    bottom: 0%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    color: #212121;
}
header .portfolio:hover,
header .portfolio:focus,
header .agency:hover,
header .agency:focus,
header .contact:hover,
header .contact.focus{
    color: #2196F3;
}
header .contact{
    position: absolute;
    width: 51px;
    height: 16px;
    left: 656px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    color: #212121;
}
header .tel{
    position: absolute;
    width: 110px;
    height: 16px;
    left: 1263px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    color: #757575;
}
header .tel:hover{
    color:#2196F3;
}
header .mail{
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    color: #757575;
}
header .mail:hover{
    color: #2196F3;
}
nav {
    text-decoration: none;
}
nav .portfolio:hover,
nav .portfolio:focus{
    color: #2196f3;
}
body{
    width: 1600px;
    height: 2349px;
    position: absolute;
    color: #212121;
    background-color: #E5E5E5;
    font-family: 'Roboto' sans-serif;
    }
.start{
    background-color: #2F303A;
    font-family: 'Roboto', sans-serif;
    font-size: 700;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;

}
.start > h1{
    position: absolute;
    color: white;
    font-size: 44px;
    Width: 696px;
    Height: 120px;
    Top: 280px;
    Left: 452px;
    text-align: center;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.start > .but{ 
    position: absolute;
    color: white;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    font-weight: 700;
    line-height: 187%;
    cursor: pointer;
}
.start > .but:hover{
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.but1, .but2, .but3, .but4, .but5{
    position: absolute;
    font-family: 'Roboto',sans-serif;
    background-color: #F5F4FA;
    border-radius: 4px;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 15px 32px;
    text-align: left;
    cursor: pointer;
    line-height: 160%;
}
.but1{
    width: 121px;
    height: 38px;
    left: 510px;
    top: 174px;
    font-weight: 700;
    line-height: 187%;
}
.but2{
    width: 93px;
    height: 38px;
    left: 639px;
    top: 174px;
    font-weight: 700;
    line-height: 187%;
}
.but3{
    width: 114px;
    height: 38px;
    left: 740px;
    top: 174px;
    font-weight: 700;
    line-height: 187%;
}
.but4{
    width: 91px;
    height: 38px;
    left: 862px;
    top: 174px;
    font-weight: 700;
    line-height: 187%;
}
.but5{
    width: 121px;
    height: 38px;
    left: 961px;
    top: 174px;
    font-weight: 700;
    line-height: 187%;
}

.but1:hover, .but2:hover, .but3:hover, .but4:hover, .but5:hover{
    background-color: #2196F3;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
}
.text{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
text-transform: uppercase;
color: #212121;
}
.text11{
    position: absolute;
    width: 270px;
    height: 75px;
    left: 215px;
    top: 800px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
}
.text22{
    position: absolute;
width: 270px;
height: 75px;
left: 515px;
top: 800px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #757575;
}
.text33{
    position: absolute;
width: 270px;
height: 75px;
left: 815px;
top: 800px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #757575;
}
.text44{
    position: absolute;
width: 270px;
height: 75px;
left: 1115px;
top: 800px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #757575;
}
.text > .text1{
    left: 215px;
    position: absolute;
    width: 270px;
    height: 16px;
    top: 774px;
    line-height: 16px;
    letter-spacing: 0.03em;
}
.text > .text2{
    left: 515px;
    position: absolute;
    width: 270px;
    height: 16px;
    top: 774px;
    line-height: 114%;
    letter-spacing: 0.03em;
}
.text > .text3{
    left: 815px;
    position: absolute;
    width: 270px;
    height: 16px;
    top: 774px;
    line-height: 114%;
    letter-spacing: 0.03em;
}
.text > .text4{
    left: 1115px;
    position: absolute;
    width: 270px;
    height: 16px;
    top: 774px;
    line-height: 114%;
letter-spacing: 0.03em;
}
.what > h1{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 352px;
    height: 42px;
    left: 624px;
    top: 969px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 300%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.we{
  background:#F5F4FA;  
}
.we > h2{
position: absolute;
width: 210px;
height: 42px;
left: 695px;
top: 1543px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 300%;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
figure{
    position: absolute;
}
 .imagine1{
    position: absolute;
    left: 215px;
    top: 262px;
}
.imagine2{
    left: 615px;
    top: 262px;
}
.imagine3{
    left: 1015px;
    top: 262px;
}
.imagine4{
    left: 215px;
    top: 696px;
    
}
.imagine5{
    left: 615px;
    top: 696px;
}
.imagine6{
    left: 1015px;
    top: 696px;
}
.imagine7{
    left: 215px;
    top: 1130px;
    
}
.imagine8{
    left: 615px;
    top: 1130px;
}
.imagine9{
    left: 1015px;
    top: 1130px;
}

.imagineA{
    left: 215px;
    top: 1061px;
    
}
.imagineB{
    left: 615px;
    top: 1061px;
}
.imagineC{
    left: 1015px;
    top: 1061px;
}    
.imagination1{
    left: 215px;
    top: 1635px;
}
.imagination2{
left: 515px;
top: 1635px;
}
.imagination3{
    left: 815px;
    top: 1635px;
}
.imagination4{
    left: 1115px;
    top: 1635px;
}
.imagination1, .imagination2, .imagination3, .imagination4{
    border-radius: 0px;
}
footer{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    background-color: #2F303A;
}
footer .end{
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-weight: 700;
    font-size: 26px;
    line-height: 221%;
}
footer address{
    width: 246px;
height: 21px;
left: 215px;
top: 2208px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #FFFFFF;
}
footer .tel{
    width: 231px;
    height: 21px;
    left: 215px;
    top: 1769px;
    text-decoration-line: none;
    color: rgba(255, 255, 255, 0.6);
}
footer .tel:hover,
footer .tel:focus{
text-decoration-line: underline;
    color:#2196F3;
}
footer .mail{
    width: 231px;
    height: 21px;
    left: 215px;
    top: 1799px;
    text-decoration-line: none;
    color: rgba(255, 255, 255, 0.6);
}
footer .mail:hover,
footer .mail:focus{
    text-decoration-line: underline;
    color:#2196F3;
}
